<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NuevaListaProductos_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.2:7047/DynamicsNAV/WS/T.R.H./Page/NuevaListaProductos"
                binding="basicHttpBinding" bindingConfiguration="NuevaListaProductos_Binding"
                contract="ServiceReference1.NuevaListaProductos_Port" name="NuevaListaProductos_Port" />
        </client>
    </system.serviceModel>
</configuration>