<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Empleados_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/WS/T.R.H./Page/Empleados"
                binding="basicHttpBinding" bindingConfiguration="Empleados_Binding"
                contract="EmpleadoContext.Empleados_Port" name="Empleados_Port" />
        </client>
    </system.serviceModel>
</configuration>